@import "tailwindcss";

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
